body{
background-image: url(../_imagens/VAAAIII\ GOKU.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1{
    text-align: center;
    background-color: darkred;
    font-family: sans-serif;
    border-style: dotted;
    border-radius: 8px;
    margin-top: -6px;
}


label, legend{
    color: white;
    margin-top: -6px;
}


.registro{
    border-radius: 7px;
    width: 50%;
    height: 31px;

}

.planeta{
    border-radius: 7px;
    width: 25%;
    height: 28px;
    
}

fieldset{
    border-color: red;
    border-width: 5px ;
    color: white;
    margin-top: 16px;
}

.dadosE{
    
}

.raça{
    border-radius: 7px;
    width: 25%;
    height: 28px;
}


textarea{
    width: 30%;
    height: 30%;
}

.button{
    height: 40px;
    width: 5%;
    border-radius: 7px;
    background-color: blueviolet;
}